@import url('https://www.w3schools.com/w3css/4/w3.css');

#mainbody, #navbar {
  width: 55%;
  min-width: 480px;
  max-width:600px;
  margin: 0 auto;
}

#mainbody {
  background-color: #e7e7e7;
  border: 2px;
}

.playAgain {margin: 20px auto}
.noShow {visibility:hidden; margin: 25px auto}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
hr{
  border: 1px solid lightgray;
}